body {
    background-color: black;
    text-align: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'doncanfont';
    color: #fde2a8;
    font-size: clamp(5px, 5vw, 30px);
    }
  @font-face {
    font-family: doncanfont;
    src: url(Tanker-Regular.otf);
    }
  .container-text {
    position: relative;
    text-align: center;
    }
  .container-icons {
    display:flex;
    justify-content: center;
    }
  .names {
    position: relative;
    text-align: center;
    color: white;
    }
  .brnotop{
    height: 20px;
    width: 100%;
    background: url(img/br.png) center repeat-x;
    background-size: auto 100%;
    background-repeat: space;
    margin-top: 15px;
    }
  details {
    width: 100%;
    color: white;
    }
  summary {
    background-color: black;
    color: #fde2a8;
    padding: 3px;
    cursor: pointer;
    display: block;
    }
    summary::before {
      margin-right: 1ch;
      display: inline-block;
      content: url(img/bricoright.png);
      transition: 0.2s;
    }
    details[open] > summary::before {
      transform: rotate(90deg);
    }
    a {
      text-decoration: none;
      color: #fde2a8;
    }
    .language-selector {
      margin-top: 20px;
  }
  
  .lang-icon {
      width: 40px;
      height: 30px;
      margin: 10px;
      cursor: pointer;
      transition: transform 0.3s ease;
  }
  .lang-icon:hover {
      transform: scale(1.2); /* Effetto di ingrandimento quando si passa sopra con il mouse */
  }

.lang-content {
    display: none;
    max-width: clamp(5vw, 100vw, 800px);
    margin-left: 5%;
    margin-right: 5%;
}
.lang-content.active {
    display: block;
}
