body {
    background-color: black;
    text-align: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'doncanfont';
    color: #fde2a8;
    font-size: clamp(5px, 5vw, 30px);
    }
  @font-face {
    font-family: doncanfont;
    src: url(Tanker-Regular.otf);
    }
  .container-text {
    position: relative;
    text-align: center;
    }
  .container-icons {
    display:flex;
    justify-content: center;
    }
  .names {
    position: relative;
    text-align: center;
    color: white;
    }
  .brnotop{
    height: 20px;
    width: 100%;
    background: url(img/br.png) center repeat-x;
    background-size: auto 100%;
    background-repeat: space;
    margin-top: 15px;
    }
  details {
    width: 100%;
    color: white;
    }
  summary {
    background-color: black;
    color: #fde2a8;
    padding: 3px;
    cursor: pointer;
    }
    .textbio {
    max-width: clamp(5vw, 100vw, 800px);
    margin-left: 5%;
    margin-right: 5%;
    }
